p.row {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    line-height: 25px;
}

p{margin: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    line-height: 20px;

}
h4{margin: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    line-height: 20px;
}
h1 {
    background-color: #696969;
}